### Connect to Atlas Cluster and Generate fake data to delete [LAB1]

In [2]:
import pymongo
uri = "mongodb+srv://m220student:m220password@mflix-fx6w4.mongodb.net/test?retryWrites=true&w=majority"
mongo_client = pymongo.MongoClient(uri)

In [24]:
#Let's review the list of databases in the cluster
mongo_client.list_database_names()

['electronicsDB',
 'lessons',
 'lessons_lab',
 'sample_airbnb',
 'sample_geospatial',
 'sample_mflix',
 'sample_supplies',
 'sample_training',
 'sample_weatherdata',
 'admin',
 'local']

In [23]:
# Create a db called lessons and a collection called deletes and stored in variables
#db_lessons = mongo_client.lessons_lab
#collection_deletes = db_lessons.deletes
mongo_client.list_database_names()

['electronicsDB',
 'lessons',
 'lessons_lab',
 'sample_airbnb',
 'sample_geospatial',
 'sample_mflix',
 'sample_supplies',
 'sample_training',
 'sample_weatherdata',
 'admin',
 'local']

In [16]:
# We are going to insert 100 random values using the random library and range function to iterate 100 times 
import random
random.seed(42)
collection_deletes.drop()
irm = collection_deletes.insert_many([{"_id": value , "Random_Bool": random.choice([True, False])} for value in range(100)])
assert len(irm.inserted_ids) == 100

In [22]:
#Check 3 documents to see the structure
take3 = collection_deletes.find({}).limit(3)
list(take3)

[{'_id': 0, 'Random_Bool': True},
 {'_id': 1, 'Random_Bool': False},
 {'_id': 2, 'Random_Bool': True}]

### Create joins using two collections and the $lookup [LAB2]

In [49]:
# Set the mflix db to work with
mflix = mongo_client.sample_mflix
#List collections in the mflix db
mflix.list_collection_names()
#Store movies and comments collections in variables to work with
movies = mflix.movies
comments = mflix.comments
# Create the pipeline stages

pipe = [
    {
        '$match': {
            'year': {
                '$gte': 1980, 
                '$lt': 1990
            }
        }
    }, {
        '$lookup': {
            'from': 'comments', 
            'let': {
                'id': '$_id'
            }, 
            'pipeline': [
                {
                    '$match': {
                        '$expr': {
                            '$eq': [
                                '$movie_id', '$$id'
                            ]
                        }
                    }
                }, {
                    '$count': 'count'
                }
            ], 
            'as': 'movie_comments'
        }
    }
]

In [66]:
#Return all movies from 1990's and count comments each one has
#commentsbymovie = movies.aggregate(pipe)
movies.find_one({})

{'_id': ObjectId('573a1390f29313caabcd5501'),
 'plot': "A venal, spoiled stockbroker's wife impulsively embezzles $10,000 from the charity she chairs and desperately turns to a Burmese ivory trader to replace the stolen money.",
 'genres': ['Drama'],
 'runtime': 59,
 'rated': 'NOT RATED',
 'cast': ['Fannie Ward', 'Sessue Hayakawa', 'Jack Dean', 'James Neill'],
 'poster': 'https://m.media-amazon.com/images/M/MV5BMjEzMjcxNTM5M15BMl5BanBnXkFtZTgwMzgwNjQ1MjE@._V1_SY1000_SX677_AL_.jpg',
 'title': 'The Cheat',
 'fullplot': "Edith Hardy uses charity funds for Wall Street investments in hopes of buying some new gowns. She loses all the money and borrows from wealthy oriental Tori. When her husband gives her the amount she borrowed, Tori won't take it back, branding her shoulder with a Japanese sign of his ownership. She shoots him. Her husband takes the blame. In court Edith reveals all to an angry mob.",
 'languages': ['English'],
 'released': datetime.datetime(1915, 12, 13, 0, 0),
 'directors': ['Cecil B. DeMille'],
 'writers': ['Hector Turnbull (scenario)', 'Jeanie Macpherson (scenario)'],
 'awards': {'wins': 1, 'nominations': 0, 'text': '1 win.'},
 'lastupdated': '2015-08-31 00:41:20.670000000',
 'year': 1915,
 'imdb': {'rating': 6.5, 'votes': 1660, 'id': 5078},
 'countries': ['USA'],
 'type': 'movie',
 'tomatoes': {'viewer': {'rating': 3.2, 'numReviews': 423, 'meter': 44},
  'production': 'Jesse L. Lasky Feature Play Company',
  'lastUpdated': datetime.datetime(2015, 9, 11, 17, 55, 28)}}

In [93]:
# Let's find the comments of a given movie
search = [
    {
        '$match': {
            '_id': ObjectId('573a1394f29313caabce03f0')
        }
    }, {
        '$lookup': {
            'from': 'comments', 
            'let': {
                'id': '$_id'
            }, 
            'pipeline': [
                {
                    '$match': {
                        '$expr': {
                            '$eq': [
                                '$movie_id', '$$id'
                            ]
                        }
                    }
                }
            ], 
            'as': 'movie_comments'
        }
    }
]

NameError: name 'ObjectId' is not defined

In [84]:
result = movies.aggregate(pipex)

In [88]:
print(dumps(result))

[]